@media only screen and (max-width: 600px) {
  li.menu {
    margin-right: -20px
  }
}
body {
  background-image: url("../photo/background.png");
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}
nav {
    width: 100%;
    height: 70px;
    background-color: white;
    padding-top: 5px;
    box-sizing: border-box;
    position: fixed;
  }
  ul.menu {
    display: flex;
    float: right;
  }
  li.menu {
    list-style: none;
  }
  a {
    display: block;
    text-decoration: none;
    color: blue;
    margin-right: 35px;
  }

  footer{
    text-align: center;
    width: 100%;

  }
.top_h1 {
  top: 70px;
}
.avatar {
    position: relative;
    width: 20%;
    left: 5%;
    margin-top: 70px;
  }
img {
  max-width:100%;
  height:auto;
}
h1 {
  position: relative;
  color: blue;
  left: 2.5%
}
.access img{
  position: fixed;
  top: 110px;
  right:10px;
}
/*成果物 */
.production {
  display: flex;
  max-width: 100%;
}

.production div{
  width: 50%;
}

.production h2{
  position: relative;
  left: 5%;
  font-size: 24px;
}

.production img, iframe, video{
  position: relative;
  width: 80%;
  height: 350px;
  left: 5%;
}

.production h3{
  position: relative;
  left: 5%;
  font-size: 20px;
  color: #009933;
}

.production p{
  position: relative;
  width: 80%;
  left: 5%;
  font-size: 20px;
}

.production_2 {
  text-align: center;
}
.production_2 p{
  position: relative;
  width: 80%;
  left: 5%;
  font-size: 20px;
}
.production_2 h3{
  position: relative;
  font-size: 20px;
  color: #009933;
}
